<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/style.css')}}">
    <title>Home</title>
</head>

           <header>
                <div class="logo"><img src="../static/Imagens_site/logo.png"/></div><!--Logo-->
                <div class="menu">
                    <a href="/"> Home </a>
                    <a href="/QuemSomos/"> Quem Somos </a>
                    <a href="/Contatos/"> Contato </a>
                </div><!--menu-->
            </header>               

{% block content %}

{% endblock %}
<br>
<br>       
<footer><b>Todos os direitos reservados</b></footer> 
<br>
<br>    
</body>
</html>
