{% extends 'base.html' %}

{% block content %}   
           
<div class="fundo"></div>
<body background="../static/Imagens_site/fundo.png">
		     	<img class="capa" src="../static/Imagens_site/capa.png">

                        <h1>Sobre a universidade</h1>
            
                    <p>
                        <b>Lorem ipsum dolor</b> sit <i>amet</i> consectetur adipiscing elit. Vivamus id velit vitae nisi laoreet aliquam non at elit. Ut varius sem eget lectus vulputate rhoncus. Proin eu arcu sed augue efficitur fermentum. Phasellus malesuada lacinia est, sed condimentum orci vulputate ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in vehicula dolor. Mauris eu finibus metus. Fusce eget vehicula magna. Ut quam eros, accumsan eu enim at, semper elementum est. Sed ac vehicula leo. Nulla sollicitudin felis massa, eget pellentesque lorem fringilla eget. In a leo consectetur, egestas arcu id, pulvinar lacus. Morbi quis ex ex.
                    </p>
                    <br>      
                    <p>
                        <b>Lorem ipsum dolor</b> sit <i>amet</i> consectetur adipiscing elit. Vivamus id velit vitae nisi laoreet aliquam non at elit. Ut varius sem eget lectus vulputate rhoncus. Proin eu arcu sed augue efficitur fermentum. Phasellus malesuada lacinia est, sed condimentum orci vulputate ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in vehicula dolor. Mauris eu finibus metus. Fusce eget vehicula magna. Ut quam eros, accumsan eu enim at, semper elementum est. Sed ac vehicula leo. Nulla sollicitudin felis massa, eget pellentesque lorem fringilla eget. In a leo consectetur, egestas arcu id, pulvinar lacus. Morbi quis ex ex.
                    </p>

				
				</div>
{% endblock %}
                    



