{% extends 'base.html' %}

{% block content %}

<div class="fundo2"></div>
<body background="../static/Imagens_site/fundo2.png">
    <hr>
    <br>
    <h3>Quem somos</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis justo justo. Donec nec fermentum ligula, tempus pellentesque odio. Pellentesque pulvinar, ligula nec finibus imperdiet, nisl metus aliquet dui, vel bibendum dolor dui sit amet neque. Vivamus facilisis condimentum dolor, sit amet elementum nunc ornare vitae. Nullam facilisis dictum orci sed malesuada. Aliquam at pharetra est. Cras metus urna, tincidunt ut commodo at, interdum id enim. Sed pellentesque mauris in est iaculis, eu consectetur augue luctus. Sed ut ipsum eget erat faucibus molestie. Morbi molestie dapibus risus ac porta. Suspendisse ornare laoreet nunc a fermentum.</p>
    <br>
    <h3>5 motivos para estudar</h3>
    <br>
    <p>1. Lorem ipsum dolor sit amet.</p>
    <p>2. Consectetur adipiscing elit.</p> 
    <p>3. Maecenas lacinia ut massa eget imperdiet.</p> 
    <p>4. Nullam ultricies scelerisque rhoncus.</p>
    <p>5. Fusce sed diam massa.</p>
    <br>
    <h3>Objetivos</h3>
    <br>
    <p>Nullam ultricies scelerisque rhoncus. Fusce sed diam massa. Ut efficitur dictum nisl non molestie. Fusce a porttitor enim. Sed convallis justo et nunc elementum, non ornare nulla rutrum. In accumsan ligula at accumsan blandit. Quisque faucibus commodo enim, a convallis nibh viverra sed. Vivamus interdum eget tellus porttitor accumsan. Phasellus egestas ante at magna placerat mollis sit amet at ex. Aenean non ultrices lacus. Pellentesque sapien ante, vehicula vitae dignissim a, faucibus sit amet dolor. Nunc tristique leo vel augue porta bibendum. Sed vehicula eleifend tellus, ut imperdiet lacus efficitur.</p>
    
</div>

{% endblock %}